.card {
    border: 1px solid black;
    display: inline-block;
    margin: 5px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.3);
}

.card:active{
    position: relative;
    top: 2px;
    box-shadow: 3px 8px rgba(0, 0, 0, 0.3);
}

button:active{
    position: relative;
    top: 1px;
    box-shadow: 1px 3px rgba(0, 0, 0, 0.5) inset;
    outline: none;
}

button {
    outline: none;
}

body {
    background-image: url('candyMountain.png');
}